.landing-page-container {
    height: 90vh;
    width: 100vw;
    background-color: #013034;
    display: flex;
}

.landing-page-left {
    height: 100%;
    width: 40vw;
    border: 2px solid;
}

.landing-page-right {
    height: 70%;
    width: 60vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landing-page-right h1 {
    font-size: 2.8rem;
    overflow: hidden;
    border-right: 3px solid white;
    white-space: nowrap;
    animation: typing 4s steps(50, end) infinite;
    max-width: fit-content;
}

.landing-page-right div {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.landing-page-right button {
    width: 30%;
    height: 100%;
    margin: 0;
    font-size: 1.2rem;
    background: linear-gradient(60deg, #00F27E, #0faf94);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
}

.landing-page-right button:hover {
    transform: scale(1.05);
    transition: all 100ms ease-in;
    background-position: 0 0;
}

@keyframes btn-gradient {
    0% {
        background-position: 0% 92%;
    }
    50% {
        background-position: 100% 9%;
    }
    100% {
        background-position: 0% 92%;
    }
}

@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    90% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}