.contain {
    height: 90vh;
    width: 100vw;
    background-color: #013034;
    margin: 0;
    padding: 0;
    display: flex;
}

.user-matches {
    width: 75%;
    height: 100%;
    border: 2px solid;
    padding: 1rem;
    display: inline;
}

#create-server {
    width: 3%;
}

.recent-matches {
    width: 25%;
    height: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    align-self: center;
    color: white;
}